In [12]:
# read in some dummy data to play with
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

import pandas as pd

TESTDATA=StringIO("""Date;Store;Dept;Weekly_Sales
    2017-01-01;1;1;100
    2017-01-01;1;2;50
    2017-01-01;1;3;70
    2017-01-01;1;4;80
    2017-01-01;1;5;999
    2017-01-01;2;1;133500
    2017-01-01;2;2;335340
    2017-01-01;2;3;70775
    2017-01-01;2;4;85670
    2017-01-01;2;5;55999    
    """)

df = pd.read_csv(TESTDATA, sep=";")
df = df.set_index(['Date', 'Store', 'Dept'])
df.head(20)

                           Weekly_Sales
Date           Store Dept
    2017-01-01 1     1              100
                     2               50
                     3               70
                     4               80
                     5              999
               2     1           133500
                     2           335340
                     3            70775
                     4            85670
                     5            55999

In [13]:
# reset the index
df.reset_index(inplace=True)
df.head(20)

             Date  Store  Dept  Weekly_Sales
0      2017-01-01      1     1           100
1      2017-01-01      1     2            50
2      2017-01-01      1     3            70
3      2017-01-01      1     4            80
4      2017-01-01      1     5           999
5      2017-01-01      2     1        133500
6      2017-01-01      2     2        335340
7      2017-01-01      2     3         70775
8      2017-01-01      2     4         85670
9      2017-01-01      2     5         55999

In [15]:
df.groupby(['Dept'], sort=False)['Weekly_Sales'].max()

Dept
1    133500
2    335340
3     70775
4     85670
5     55999
Name: Weekly_Sales, dtype: int64

In [17]:
# just get rows from df that have the max
idx = df.groupby(['Dept'])['Weekly_Sales'].transform(max) == df['Weekly_Sales']
df[idx]

             Date  Store  Dept  Weekly_Sales
5      2017-01-01      2     1        133500
6      2017-01-01      2     2        335340
7      2017-01-01      2     3         70775
8      2017-01-01      2     4         85670
9      2017-01-01      2     5         55999