In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                       [np.nan, np.nan, np.nan, 5]],
                      columns=list('ABCD'))
df.head()

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [12]:
df_dropped = df.dropna(subset = ['A','B'] , how = 'any' )
df_dropped.head()

     A    B   C  D
1  3.0  4.0 NaN  1