In [1]:
import pandas as pd
import re

In [2]:
df = pd.DataFrame(data={'text_field': ['I love my checy so much. Go CHEVE!', 'TOYOYTA are the best! I got a new toota','CHEVE']})
df.head()

                                text_field
0       I love my checy so much. Go CHEVE!
1  TOYOYTA are the best! I got a new toota
2                                    CHEVE

In [3]:
def clean_text_field(field_name,in_list,to_value):
    """Function to clean up text fields in df based on pattern matching"""
    in_list.sort(key = len, reverse=True) # sort list from longest to shortest to minimise risk of overlap
    in_list_regex = '|'.join(in_list) # join it into a regex 'OR' type operator
    regex_pat = re.compile(in_list_regex, flags=re.IGNORECASE) # complie the regex
    df[field_name] = df[field_name].str.replace(regex_pat,to_value) # clean the field in the df

In [4]:
# list of mispellings for chevrolet
chevrolet = ['CHEVY', 'CHEV', 'CHEVEROLET', 'CHEVORLET', 'CHEVEY', 'CHEVE', 'CEHVY', 
        'CHEVERLOT', 'CHEVRLET', 'CHEVYROLET', 'CHEVOLET', 'CHVROLET', 'CHEVR', 
        'CHECY', 'CHEVR', 'CEHVROLET', 'CHEVROLEY', 'CEVROLET', 'CHVY', 'CEHV', 'CHEROLET']
# list of mispellings for toyota
toyota = ['TOYOT', 'TOYT', 'TOYO', 'TOYOA', 'TOY', 'TOYTA', 'TOYOYA', 'TOTOTA', 'TOYO', 'TOTY', 'TOYTOA', 'TYOTA', 'TOTOYA', 
          'TOYTOTA', 'TOYOA', 'TOYOYTA', 'TOYOTSA', 'TOYORA', 'TOYOTOA', 'TOTYOTA', 'YOYOTA', 'TOOTA', 'TOYOAT', 'TOUOTA', 'TOYA',
          'TOY0TA', 'TOOYOTA', 'TOYOTO', 'TOYTO', 'TOYATA', 'TOYPTA', 'TPYOTA', 'TOT']

In [5]:
df.head()

                                text_field
0       I love my checy so much. Go CHEVE!
1  TOYOYTA are the best! I got a new toota
2                                    CHEVE

In [6]:
clean_text_field('text_field',chevrolet,'Chevrolet')
clean_text_field('text_field',toyota,'Toyota')

In [7]:
df.head()

                                   text_field
0  I love my Chevrolet so much. Go Chevrolet!
1     Toyota are the best! I got a new Toyota
2                                   Chevrolet