In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("C://Users/Andrew/Downloads/fy2016_stc_category-xls.csv")
df.head()

        Geo_Name  Survey_Year                        Tax_Type       Amount
0  United States         2016                     Total Taxes  930,263,745
1  United States         2016                  Property Taxes   18,364,298
2  United States         2016  Sales and Gross Receipts Taxes  442,909,995
3  United States         2016                   License Taxes   52,164,396
4  United States         2016                    Income Taxes  392,286,910

In [16]:
df['geo_level'] = df['Geo_Name'].apply(lambda x: 'national' if x == 'United States' else 'state')

In [17]:
df.describe(include='all')

             Geo_Name  Survey_Year     Tax_Type Amount geo_level
count             312        312.0          312    312       312
unique             52          NaN            6    296         2
top     United States          NaN  Total Taxes      X     state
freq                6          NaN           52     17       306
mean              NaN       2016.0          NaN    NaN       NaN
std               NaN          0.0          NaN    NaN       NaN
min               NaN       2016.0          NaN    NaN       NaN
25%               NaN       2016.0          NaN    NaN       NaN
50%               NaN       2016.0          NaN    NaN       NaN
75%               NaN       2016.0          NaN    NaN       NaN
max               NaN       2016.0          NaN    NaN       NaN

In [18]:
df_national = df.loc[(df['geo_level'] == 'national')]
df_national.head()

,Geo_Name,Survey_Year,Tax_Type,Amount,geo_level
0,United States,2016,Total Taxes,"930,263,745",national
1,United States,2016,Property Taxes,"18,364,298",national
2,United States,2016,Sales and Gross Receipts Taxes,"442,909,995",national
3,United States,2016,License Taxes,"52,164,396",national
4,United States,2016,Income Taxes,"392,286,910",national

In [19]:
df_state = df.loc[(df['geo_level'] == 'state')]
df_state.head()

   Geo_Name  Survey_Year                        Tax_Type     Amount geo_level
6   Alabama         2016                     Total Taxes  9,919,794     state
7   Alabama         2016                  Property Taxes    346,277     state
8   Alabama         2016  Sales and Gross Receipts Taxes  5,106,102     state
9   Alabama         2016                   License Taxes    507,479     state
10  Alabama         2016                    Income Taxes  3,869,584     state

In [20]:
df_final = pd.merge(left=df_state, right=df_national, on=['Survey_Year','Tax_Type'], suffixes=['_state', '_national'])
df_final.head()

,Geo_Name_state,Survey_Year,Tax_Type,Amount_state,geo_level_state,Geo_Name_national,Amount_national,geo_level_national
0,Alabama,2016,Total Taxes,"9,919,794",state,United States,"930,263,745",national
1,Alaska,2016,Total Taxes,"1,042,164",state,United States,"930,263,745",national
2,Arizona,2016,Total Taxes,"14,676,375",state,United States,"930,263,745",national
3,Arkansas,2016,Total Taxes,"9,452,883",state,United States,"930,263,745",national
4,California,2016,Total Taxes,"155,231,252",state,United States,"930,263,745",national