In [41]:
import pandas as pd
from pandas_ml import ConfusionMatrix

In [42]:
df = pd.read_csv("C:/Users/Andrew/Documents/data.csv")
df.head()

   id  y_pred  y_true
0   1       1       1
1   2       0       1
2   3       0       1
3   4       0       1
4   5       1       0

In [43]:
df['prediction_type'] = 'ERROR'
df.loc[(df['y_pred'] == 0) & (df['y_true'] == 0), 'prediction_type'] = 'TN'
df.loc[(df['y_pred'] == 1) & (df['y_true'] == 1), 'prediction_type'] = 'TP'
df.loc[(df['y_pred'] == 1) & (df['y_true'] == 0), 'prediction_type'] = 'FP'
df.loc[(df['y_pred'] == 0) & (df['y_true'] == 1), 'prediction_type'] = 'FN'
df.head(20)

    id  y_pred  y_true prediction_type
0    1       1       1              TP
1    2       0       1              FN
2    3       0       1              FN
3    4       0       1              FN
4    5       1       0              FP
5    6       1       0              FP
6    7       1       1              TP
7    8       0       1              FN
8    9       1       1              TP
9   10       1       0              FP
10  11       1       0              FP
11  12       0       0              TN
12  13       1       0              FP
13  14       0       0              TN
14  15       0       0              TN
15  16       1       1              TP
16  17       1       0              FP
17  18       1       1              TP
18  19       1       0              FP
19  20       1       1              TP

In [44]:
df.prediction_type.value_counts()

FP    14
TP    14
FN    13
TN     8
Name: prediction_type, dtype: int64

In [45]:
cm = ConfusionMatrix(df.y_true, df.y_pred)
print(cm.print_stats())

population: 49
P: 27
N: 22
PositiveTest: 28
NegativeTest: 21
TP: 14
TN: 8
FP: 14
FN: 13
TPR: 0.518518518519
TNR: 0.363636363636
PPV: 0.5
NPV: 0.380952380952
FPR: 0.636363636364
FDR: 0.5
FNR: 0.481481481481
ACC: 0.448979591837
F1_score: 0.509090909091
MCC: -0.11844484242
informedness: -0.117845117845
markedness: -0.119047619048
prevalence: 0.551020408163
LRP: 0.814814814815
LRN: 1.32407407407
DOR: 0.615384615385
FOR: 0.619047619048
None