In [8]:
%matplotlib inline
import pandas as pd
from pygeocoder import Geocoder
from geopy.geocoders import Nominatim

In [25]:
#filepath = 'C:/Users/Andrew/Documents/Python/misc/events/events.csv'
#events=pd.DataFrame.from_csv(filepath, index_col=None)
#events.head()

In [26]:
# create some dummy data so dont need to download the kaggle data
dummy_dict = [{'lat': '31.24', 'long': '121.38'},{'lat': '30.97', 'long': '103.65'}]
# put in a df
df = pd.DataFrame.from_dict(dummy_dict)
df.head()

     lat    long
0  31.24  121.38
1  30.97  103.65

In [27]:
# make tuple the geocode function needs
df['lat_long'] = df[['lat', 'long']].apply(tuple, axis=1)
df.head()

     lat    long         lat_long
0  31.24  121.38  (31.24, 121.38)
1  30.97  103.65  (30.97, 103.65)

In [28]:
df["address"]= df["lat_long"].apply(geolocator.reverse, timeout=10)
df.head()

,lat,long,lat_long,address
0,31.24,121.38,"(31.24, 121.38)","(真北路, 普陀区, 真北村, 普陀区 (Putuo), 上海市, 200333, 中国, ..."
1,30.97,103.65,"(30.97, 103.65)","(G213;G317, 都江堰市, 都江堰市 / Dujiangyan, 成都市 / Che..."

In [ ]:
# this seems to work in appending a address column to the df.