In [1]:
import json
import pandas as pd

In [2]:
tweets = []
for line in open('tweets.json', 'r'):
    tweets.append(json.loads(line))

In [3]:
df_tweets = pd.DataFrame.from_dict(tweets)
print(df_tweets.shape)
df_tweets.head(2)

(1118, 36)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,possibly_sensitive,filter_level,lang,timestamp_ms,display_text_range,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink
0,Tue Sep 24 03:24:13 +0000 2019,1176336509575712768,1176336509575712768,RT @tdrblognote: これが新しいミッキー花壇ですか～ 分離型です。イベントフォ...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,None,...,False,low,ja,1569295453815,NaN,NaN,NaN,NaN,NaN,NaN
1,Tue Sep 24 03:24:16 +0000 2019,1176336519969345536,1176336519969345536,@OrangeGrove55 Galaxy’s Edge at Walt Disney Wo...,"<a href=""http://twitter.com/download/iphone"" r...",True,1.176260e+18,1176259841301475329,8.504104e+17,850410392790614017,...,NaN,low,en,1569295456293,"[15, 140]",{'full_text': '@OrangeGrove55 Galaxy’s Edge at...,NaN,NaN,NaN,NaN

In [4]:
# just normalise the nested json col on its own into a df
df_retweeted_status = pd.DataFrame(df_tweets['retweeted_status'].to_dict()).transpose()
# add in id based on common index position
df_retweeted_status = df_tweets[['id']].merge(df_retweeted_status,'inner',left_index=True,right_index=True,suffixes=('_df_tweets', ''))

# look at data
print(df_retweeted_status.shape)
df_retweeted_status.head()

(1118, 36)

,id_df_tweets,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,...,retweeted,possibly_sensitive,filter_level,lang,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_tweet,scopes
0,1176336509575712768,Tue Sep 24 03:02:22 +0000 2019,1176331009068896256,1176331009068896256,これが新しいミッキー花壇ですか～ 分離型です。イベントフォトロケを作るなら、ワールドバザール...,"[0, 83]","<a href=""https://github.com/TwidereProject"" re...",False,None,None,...,False,False,low,ja,NaN,NaN,NaN,NaN,NaN,NaN
1,1176336519969345536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1176336531339919360,Tue Sep 24 00:36:50 +0000 2019,1176294384750301184,1176294384750301184,昨日となんか違うと思ったら\nミッキー花壇帰ってました！\nお帰り！\n\n#TDR_now...,"[0, 42]","<a href=""http://twitter.com/download/android"" ...",False,None,None,...,False,False,low,ja,NaN,NaN,NaN,NaN,NaN,NaN
3,1176336557969567744,Tue Sep 24 00:47:20 +0000 2019,1176297026264457217,1176297026264457217,New #Halloween themed cups! #ShanghaiDisneylan...,"[0, 106]","<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,...,False,False,low,en,NaN,NaN,NaN,NaN,NaN,NaN
4,1176336572305874944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN